body {
    width: 80vw;
    margin: auto;
}
.LOGO{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
nav {
    display: flex;
}
header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;

}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid #8E8E8E;
    Gap: 10px;
    height: 40px;
    width: 130px;

    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.hero-content {
    max-width: 500px;
    text-align: left;
}

.hero h1 {
    font-size: 32px;
}

.highlight {
    color: #007bff;
}

.hero-image img {
    width: 400px;
}
.about {
    padding: 50px;
}

.about img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.services {
    padding: 50px;
}

.service {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.service img {
    width: 250px;
}

.service-content {
    max-width: 500px;
    text-align: left;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.special-help {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 40px;
    margin: 40px auto;
}

.special-help h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.consultation {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

.consultation  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.rectangle {
    display:flex;
    align-items: right;
    width: 200px;
    height: 100px;
    background-color: #ebe5e5;
    border: 2px solid rgb(245, 240, 240);
 }
.consultation .btn {
    width:80%;
}